{% extends 'layout.html.twig' %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/html5media.min.js') }}"></script>
<script src="{{ asset('js/plyr.js') }}"></script>
<script>

    jQuery(function ($) {
        'use strict'
        var supportsAudio = !!document.createElement('audio').canPlayType;
        if (supportsAudio) {
            var index = 0,
                playing = false,
                mediaPath = '{{ tunefilepath }}/',
                extension = '',
                tracks = [
                    {% for mp3 in mp3s %}
                    {
                        "track": {{ loop.index }},
                        "name": "{{ mp3.name }}",
                        "file": "{{ mp3.fileName }}"
                    }
                    {% if not loop.last %}
                    ,
                    {% endif %}
                    {% endfor %}
                ],
                buildPlaylist = $(tracks).each(function(key, value) {
                    var trackNumber = value.track,
                        trackName = value.name,
                        trackDuration = value.duration;
                    if (trackNumber.toString().length === 1) {
                        trackNumber = '0' + trackNumber;
                    }
                    $('#plList').append('<li><div class="plItem"><span class="plNum">' + trackNumber + '.</span><span class="plTitle">' + trackName + '</span></div></li>');
                }),
                trackCount = tracks.length,
                npAction = $('#npAction'),
                npTitle = $('#npTitle'),
                audio = $('#audio1').on('play', function () {
                    playing = true;
                    npAction.text('Lecture...');
                }).on('pause', function () {
                    playing = false;
                    npAction.text('Pause...');
                }).on('ended', function () {
                    npAction.text('Pause...');
                    if ((index + 1) < trackCount) {
                        index++;
                        loadTrack(index);
                        audio.play();
                    } else {
                        audio.pause();
                        index = 0;
                        loadTrack(index);
                    }
                }).get(0),
                btnPrev = $('#btnPrev').on('click', function () {
                    if ((index - 1) > -1) {
                        index--;
                        loadTrack(index);
                        if (playing) {
                            audio.play();
                        }
                    } else {
                        audio.pause();
                        index = 0;
                        loadTrack(index);
                    }
                }),
                btnNext = $('#btnNext').on('click', function () {
                    if ((index + 1) < trackCount) {
                        index++;
                        loadTrack(index);
                        if (playing) {
                            audio.play();
                        }
                    } else {
                        audio.pause();
                        index = 0;
                        loadTrack(index);
                    }
                }),
                li = $('#plList li').on('click', function () {
                    var id = parseInt($(this).index());
                    if (id !== index) {
                        playTrack(id);
                    }
                }),
                loadTrack = function (id) {
                    $('.plSel').removeClass('plSel');
                    $('#plList li:eq(' + id + ')').addClass('plSel');
                    npTitle.text(tracks[id].name);
                    index = id;
                    audio.src = mediaPath + tracks[id].file + extension;
                },
                playTrack = function (id) {
                    loadTrack(id);
                    audio.play();
                };
            loadTrack(index);
        }
    });

    // initialize plyr
    plyr.setup($('#audio1'), {});


</script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/playlist.css') }}" media="all" type="text/css" />
{% endblock %}
{% block content %}

    <form method="GET" action="{{ path("playlist") }}" style="width: 950px;">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-4">
                <input class="form-control" name="search" placeholder="{{ 'search.tunes.placeholder'|trans }}" value="{{ searchTerm }}">
            </div>
            <div class="col-md-2">
                <select class="form-control" name="tag">
                    <option value="">{{ 'all.tags'|trans }}</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}" {% if selectedTag == tag.id %}selected{% endif %}>{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="type">
                    <option value="">{{ 'all.types'|trans }}</option>
                    {% for type in types %}
                        <option value="{{ type.id }}" {% if selectedType == type.id %}selected{% endif %}>{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-2">
                    <select class="form-control" name="stared">
                        <option value="" {% if stared == "" %}selected{% endif %}>{{ 'choice.all.favorites'|trans }}</option>
                        <option value="1" {% if stared == "1" %}selected{% endif %}>{{ 'choice.favorites'|trans }}</option>
                        <option value="0" {% if stared == "0" %}selected{% endif %}>{{ 'choice.non.favorites'|trans }}</option>
                    </select>
                </div>
            {% endif %}
            <div class="col-md-2">
                <button type="submit" class="btn btn-default pull-right"><i class="fa fa-search"></i> {{ 'search'|trans }}</button>
            </div>
        </div>
    </form>

    <div class="container">
        <div class="column add-bottom">
            <div id="mainwrap">
                <div id="nowPlay">
                    <span class="left" id="npAction">Pause...</span>
                    <span class="right" id="npTitle"></span>
                </div>
                <div id="audiowrap">
                    <div id="audio0">
                        <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!</audio>
                    </div>
                    <div id="tracks">
                        <a id="btnPrev">&larr;</a>
                        <a id="btnNext">&rarr;</a>
                    </div>
                </div>
                <div id="plwrap">
                    <ul id="plList"></ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}