{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div class="page-header" style="padding-bottom: 0px; border-bottom: none; margin-top: 0px;">
      <h1>{{ 'app.title'|trans }}</h1>
    <div class="container">
      <div class="row">
  	    <div class="col-md-12 thumbnail" style="margin-bottom: 0px; border: none;">
    	  <img src="{{ asset('irishfiddler.jpg') }}" alt="logo_expertim" />{#style="height:140px"#}
    	</div>
      </div>
    </div>
  </div>

<div id="loginbox">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" style="text-align: left;">{{ 'authentication'|trans }}</div>
            </div>

            <div style="padding: 30px" class="panel-body" >

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form id="loginform" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'login'|trans }}" />
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                        <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="{{ 'password'|trans }}"/>
                    </div>

                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'connect_me'|trans }}" />



                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock fos_user_content %}
